* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark, #custom-left-arrow-dark {
	color: #1a1a1a;
}

#custom-right-arrow-light, #custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces, #clock, #network, #pulseaudio, #memory, #cpu, #battery {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #ffb347;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#network {
    color: #ff6961;
}

#pulseaudio {
	color: #ffb347;
}
#memory {
	color: #268bd2;
}
#cpu {
	color: #2aa198;
}

#battery {
	color: #6c71c4;
}

#battery.charging {
    color: #859900;
}

#battery.warning:not(.charging) {
    color: #fdfd96;
}

#battery.critical:not(.charging) {
    color: #ff6961;
}

#clock, #network, #pulseaudio, #memory, #cpu, #battery {
	padding: 0 10px;
}
